<% layout('layouts/boilerplate') -%>
<style>

</style>

        <div class="container mt-5" style="min-height:100%">
        <div class="row">
          <div class="col-lg-7 mb-3">
            <div class=" p-4 border border-secondary rounded-lg text-white">
                <img src="/images/myfoto.jpg" class="rounded-circle mb-2" alt="myFoto" width="50">
                 <h4>Віктор Рослий</h4>
                 <p>Вітаю друзі! Головною метою проекту є своєчасне виявлення негативних тенденцій фінансової діяльності банків України.</p>
                   <p>Ваша підтримка дозволить своєчасно і систематично оновлювати інформацію щодо фінансового стану <strong class="text-success">ДІЮЧИХ</strong> банків України.</p>
                 <p>Розвиток проекту передбачає представлення інформації щомісячно та покращення функціональних можливостей сайту з метою полегшення процесу аналізу.</p>
                 <p>Також, буду вдячний за надіслані зауваження та пропозиції.</p>
                 <div class="btn btn-primary"><span id="p4" class="p-2 m-2">vlasnifinansy@gmail.com </span><i onclick="copyToClipboard('#p4')" title="Копіювати" style="cursor:pointer; opacity:0.5" class="fa">&#xf0c5;</i></div>
          </div>
          </div>
          <div class="col-lg-5 mb-5">
          <h2 class="text-center">OTP банк</h2>
            <div class="">
              <div class="d-flex p-3 justify-content-center bg-secondary text-white">
                <div><span class="mr-2">EUR</span><img src="/images/europe.png" class="mb-1" alt="EU"><span id="p1" class="p-2 m-2"> </span></div><i style="cursor:pointer; opacity:0.5" onclick="copyToClipboard('#p1')" title="Копіювати" class="fa">&#xf0c5;</i>
              </div>
              <div class="d-flex p-3 justify-content-center bg-secondary text-white">
                <div><span class="mr-2">USD</span><img src="/images/usa.png" class="mb-1" alt="USA"><span id="p2" class="p-2 m-2"> </span></div><i style="cursor:pointer; opacity:0.5" onclick="copyToClipboard('#p2')" title="Копіювати" class="fa">&#xf0c5;</i>
              </div>
              <div class="d-flex p-3 justify-content-center bg-secondary text-white">
                <div><span class="mr-2">UAH</span><img src="/images/ukraine.png" class="mb-2" alt="UAH"><span id="p3" class="p-2 m-2"> </span></div><i style="cursor:pointer; opacity:0.5" onclick="copyToClipboard('#p3')" title="Копіювати" class="fa">&#xf0c5;</i>
              </div>
          </div>
        </div>
        </div>
      </div>

        <script type="text/javascript">
          function copyToClipboard(element) {
              var $temp = $("<input>");
              $("body").append($temp);
              $temp.val($(element).text()).select();
              document.execCommand("copy");
              $temp.remove();
            }
        </script>
